a.btn-light,
button.btn-light,
a.btn-dark,
button.btn-dark {
    margin: 8px;
    padding: 0 11px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 400ms ease 0s;
    -moz-transition: all 400ms ease 0s;
    -ms-transition: all 400ms ease 0s;
    -o-transition: all 400ms ease 0s;
    transition: all 400ms ease 0s;
}

a.btn-light,
a.btn-dark {
    color: transparent;
}

button.btn-light,
button.btn-dark {
    text-align: initial;
    border: none;
    -webkit-appearance: none;
}

button.btn-light .btn-text,
button.btn-dark .btn-text {
    margin-top: 0;
}

button.btn-light .icon-svg {
    margin-top: 0;
}

.btn-light {
    background-color: #fff;
}

.btn-dark {
    background-color: #4285f4;
}

.btn-light .icon-svg {
    position: absolute;
    margin-top: 10px;
    width: 18px;
    height: 18px;
}

.btn-dark .icon-svg {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
}

.btn-dark .svg-container {
    background: #fff;
    position: absolute;
    height: 38px;
    width: 38px;
    left: 1px;
    top: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.btn-light .btn-text,
.btn-dark .btn-text {
    letter-spacing: .4px;
    font-family: Roboto;
    font-weight: 500;
}

.btn-light .btn-text {
    color: rgba(0, 0, 0, 0.54);
}

.btn-dark .btn-text {
    color: #fff;
}

.btn-dark:active,
.btn-light:active {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .24);
}

.btn-light:active {
    background: #eee;
}

.btn-dark:active {
    background: #3367d6;
}

.button-small {
    min-width: 146px;
    height: 20px;
    line-height: 16px;
    font-size: 11px;
}

.button-small svg {
    height: 12px;
}

.button-small .icon-svg {
    margin: 1px 0;
}

.button-small .btn-text {
    margin: 1px 0 0 25px;
}

.button-large {
    min-width: 215px;
    height: 40px;
    font-size: 14px;
}

.button-large .btn-text {
    margin: 10px 0 0 40px;
}
