/* Facebook button */
.joaFacebookConnector {
    background-color: #4267b2;
    margin: 8px;
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}

.joaFacebookConnector:hover {
    background: #5979d1;
}

.joaFacebookConnector span {
    float: right;
}

/* X large */
.joaFacebookConnector.joaFacebookConnector-xlarge {
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    padding: 6px;
    border-radius: 4px;
}

.joaFacebookConnector.joaFacebookConnector-xlarge svg {
    height: 28px;
}

.joaFacebookConnector.joaFacebookConnector-xlarge span {
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
}

/* Large */
.joaFacebookConnector.joaFacebookConnector-large {
    height: 26px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px;
    border-radius: 2px;
}

.joaFacebookConnector.joaFacebookConnector-large svg {
    height: 18px;
}

.joaFacebookConnector.joaFacebookConnector-large span {
    height: 18px;
    line-height: 19px;
    padding: 0 12px;
}

/* Medium */
.joaFacebookConnector.joaFacebookConnector-medium {
    height: 22px;
    font-size: 11px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
}

.joaFacebookConnector.joaFacebookConnector-medium svg {
    height: 14px;
}

.joaFacebookConnector.joaFacebookConnector-medium span {
    height: 14px;
    line-height: 16px;
    padding: 0 10px;
}

/* Small */
.joaFacebookConnector.joaFacebookConnector-small {
    height: 18px;
    font-size: 10px;
    font-weight: 500;
    padding: 3px;
    border-radius: 2px;
}

.joaFacebookConnector.joaFacebookConnector-small svg {
    height: 12px;
}

.joaFacebookConnector.joaFacebookConnector-small span {
    height: 12px;
    line-height: 14px;
    padding: 0 8px;
}