html, body {
    position: relative;
}

html,
body,
button,
select,
html,
textarea,
input,
.md-chips {
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
}


md-bottom-sheet .md-subheader {
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
}

div[jahiatype=mainmodule], div[jahiatype=mainmodule] div.clearfix {
    height: 100%;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

md-toast.md-error-toast-theme .md-toast-content {
        background-color: #F44336;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #4CAF50;
}

hr {
    border: none;
    border-bottom: 1px dashed #ccc;
}

div[ng-app=JahiaOAuthApp] md-card-title {
    padding-top: 16px;
}

div[ng-app=JahiaOAuthApp] .md-subhead.joa-description {
    color: rgba(0, 0, 0, .52);
    font-weight: 500;
    margin-top: -24px;
    margin-bottom: 16px;
    font-size: 14px;
}

div[ng-app=JahiaOAuthApp] .joa-mandatory-property {
    color: #F44336;
}